{% macro render_badge_icon(icon_name) -%}
    {% if icon_name == "compass" %}
    <svg viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5"></circle>
        <path d="M14.9 9.1l-2.2 5.8-5.8 2.2 2.2-5.8z"></path>
    </svg>
    {% elif icon_name == "spark" %}
    <svg viewBox="0 0 24 24">
        <path d="M12 3.5l1.6 4.1 4.1 1.6-4.1 1.6L12 15l-1.6-4.1-4.1-1.6 4.1-1.6z"></path>
        <path d="M18.5 14.5l.8 2 .8.8-2 .8-.8 2-.8-2-2-.8 2-.8z"></path>
    </svg>
    {% elif icon_name == "trophy" %}
    <svg viewBox="0 0 24 24">
        <path d="M8 4h8v3a4 4 0 0 1-8 0z"></path>
        <path d="M9 18h6"></path>
        <path d="M12 15v3"></path>
        <path d="M8 5H5a2 2 0 0 0 2 4h1"></path>
        <path d="M16 5h3a2 2 0 0 1-2 4h-1"></path>
    </svg>
    {% elif icon_name == "layers" %}
    <svg viewBox="0 0 24 24">
        <path d="M12 5l7 4-7 4-7-4z"></path>
        <path d="M5 12l7 4 7-4"></path>
        <path d="M5 15l7 4 7-4"></path>
    </svg>
    {% elif icon_name == "play" %}
    <svg viewBox="0 0 24 24">
        <rect x="4.5" y="6" width="15" height="12" rx="2.5"></rect>
        <path d="M10 9.2l5 2.8-5 2.8z"></path>
    </svg>
    {% elif icon_name == "flame" %}
    <svg viewBox="0 0 24 24">
        <path d="M12.5 4.5c1.2 2.8.6 4.5-.8 6 2.5-.4 4.8 1.8 4.8 4.7A4.9 4.9 0 0 1 11.7 20a5.2 5.2 0 0 1-5.2-5.1c0-3.1 2.1-4.8 3.8-6.5.9-.9 1.7-2 2.2-3.9z"></path>
    </svg>
    {% elif icon_name == "bolt" %}
    <svg viewBox="0 0 24 24">
        <path d="M13 2L6 13h4l-1 9 7-11h-4z"></path>
    </svg>
    {% elif icon_name == "crown" %}
    <svg viewBox="0 0 24 24">
        <path d="M4 17l1.5-9 5 4 1.5-5 1.5 5 5-4L20 17z"></path>
        <path d="M5 19h14"></path>
    </svg>
    {% elif icon_name == "diagram" %}
    <svg viewBox="0 0 24 24">
        <circle cx="7" cy="7" r="2"></circle>
        <circle cx="17" cy="7" r="2"></circle>
        <circle cx="12" cy="17" r="2"></circle>
        <path d="M8.7 8.3l2.1 6"></path>
        <path d="M15.3 8.3l-2.1 6"></path>
        <path d="M9 7h6"></path>
    </svg>
    {% elif icon_name == "shield" %}
    <svg viewBox="0 0 24 24">
        <path d="M12 3l7 3v5c0 4.4-2.8 7.6-7 10-4.2-2.4-7-5.6-7-10V6z"></path>
    </svg>
    {% else %}
    <svg viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="8.5"></circle>
        <path d="M12 8v4l2.5 2.5"></path>
    </svg>
    {% endif %}
{%- endmacro %}
