@keyframes colorChange {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; } 
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

/* Apply animated background to the body */
body {
    background: linear-gradient(-45deg, #94b6f7, #6f77e7, #5eadca, #86f1ff, #afdcec, #9bdae2);
    background-size: 400% 400%;
    animation: colorChange 22s ease infinite;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 5px;
    text-decoration: none;
    color: white; 
    background: linear-gradient(-45deg, #ebf98c, #f2e823, #f7f073); 
    border-radius: 15px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.button:hover {
    background: linear-gradient(-45deg, #f7f073, #f2e823, #ebf98c); 
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(161, 199, 255, 0.8);
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 80%;
    margin: 0 auto 20px auto;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-container h1 {
    margin: 0;
    font-size: 1.5rem;
}

.header-container .button {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

.module-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* progress styles */

.table-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; 
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    padding: 12px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold; 
}

tr:hover {
    background-color: #f9f9f9;
}

.completed-row {
    background-color: #d4edda; 
}
